header img {
	height: 50px;
}

header {
	height: 50px;
	margin-bottom: 20px;
	background: #222;
	padding: 10px;
}

header h1 {
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
}

nav ul, nav li{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	padding: 0 20px;
}

nav {
	text-align: center;
	padding: 60px 0;
}

.answers ul, .answers li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.answers label {
	padding: 5px 10px;
	display: block;
	font-size: 1.2em;
	font-weight: 300;
	cursor: pointer;
}

.answers label:hover {
	background: #f5f5f5;
}

.answers input {
	margin: 0 10px 0 0;
	height: 15px;
}

nav .active {
	color: #aaa;
}

.button {
	float: right;
	margin-bottom: 50px;
}

section {
	display: none;
}

section.active {
	display: block;
}

.canvas-wrapper {
	width: 80%;
	display: block;
	margin: 0 auto;
	max-width: 400px;
}
