---
layout: default
---

<nav>
    <ul>
        {% for category in site.data.questions %}
            <li class="{{ category[0] | downcase }}">{{category[0]}}</li>
        {% endfor %}
    </ul>
</nav>

<form>
    <label for="company_name">Company Name</label>
    <input type="text" name="company_name" id="company_name">

    <label for="company_email">Company Email</label>
    <input type="email" name="company_email" id="company_email">

    {% for category in site.data.questions %}
        <section data-category="{{ category[0] | downcase }}" class="{{ category[0] | downcase }}">
            <h3>{{category[0]}}</h3>
            {% for row in category[1] %}
                <h4>{{ row.question }}</h4>
                {% assign question_id = forloop.index %}
                <ul class="answers" data-question="{{ category[0] }}--{{ question_id }}">
                    {% for answer_row in row.answers %}
                        <li>
                            <label>
                                <input type="radio" name="{{ category[0] }}--{{ question_id }}" value="{{ forloop.index }}"> {{ answer_row }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

            {% if forloop.last %}
                <input type="hidden" value="swdudplanitgreen@gmail.com" name="cc_emails[]">
                <input type="hidden" value="georgepaulphillips@gmail.com" name="cc_emails[]">

                <input type="submit" class="button button-primary" value="Complete Survey">
            {% else %}
                <a class="button button-primary next-step" href="#{{ next[0] }}">Next Step</a>
            {% endif %}
        </section>
    {% endfor %}
</form>
